@import "tailwindcss";

:root {
  /* Natural Refuge Palette */
  --background: #f9f7f2; /* Warm Cream */
  --foreground: #2f3e35; /* Deep Olive */
  --primary: #8da399; /* Sage Green */
  --accent: #c29b82; /* Terracotta */
  --secondary: #5c5c5c; /* Stone Grey */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif), serif;
}
